body {
	background-color: #0F1E31;
	color: #FFFFFF;
	font-style: normal;
}

.navbar {
	box-shadow: none;
}

.nav-link {
	font-weight: 500;
	margin-left: 50px;
}

.nav-link:hover {
  	border-bottom: 2px solid #E0245E;
}

.image {
	position: absolute;
	left: -5px;
	top: 80px;
	z-index: -1;
	width: 80px;
	height: 80px;
}

.divider {
	border: 1px solid #FFFFFF;
	width: 50%;
	margin-left: 0;
	margin-top: 50px;
	margin-bottom: 60px;
}

.software {
	font-size: 20px;
	letter-spacing: 0.01em;
}

.socials {
	margin-top: 50px;
}

.social-link-linkedin, .social-link-behance, .social-link-twitter, .social-link-dribbble {
	color: #FFFFFF;
}

.social-link-linkedin:hover {
	color: #007bb5;
}

.social-link-behance:hover {
	color: #053EFF;
}

.social-link-twitter:hover {
	color: #55ACEE;
}

.social-link-dribbble:hover {
	color: #ea4c89;
}

.projects {
	margin-top: 100px;
}

.project-title {
	line-height: 75px;
	font-size: 50px;
}

.about {
	margin-top: 80px;
}

h6 {
	font-size: 2.5rem;
	font-weight: bold;
	width: 667px;
	line-height: 70px;
	margin-top: 50px;
}

.ellipse {
	position: absolute;
	right: 0;
	top: 600px;
	z-index: -1;
}

.work-header {
	color: rgba(255, 255, 255, 0.8);
}

.work-img {
	margin-top: 50px;
}

.work-text {
	line-height: 34px;
}

.work-div {
	margin-bottom: 70px;
}

.w1 {
	background-image: url('../images/Mockup.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
	filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	transition: transform 1s;
	min-height: 500px;
}

.w1:hover, .w2:hover, .w3:hover, .w4:hover {
  	-ms-transform: scale(1.1); /* IE 9 */
  	-webkit-transform: scale(1.1); /* Safari 3-8 */
  	transform: scale(1.1);
}

.w2 {
	background-image: url('../images/work.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
	filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	transition: transform 1s;
	min-height: 500px;
}

.w3 {
	background-image: url('../images/church.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
	filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	transition: transform 1s;
	min-height: 500px;
}

.w4 {
	background-image: url('../images/wire.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
	filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	transition: transform 1s;
	min-height: 500px;
}

.collab {
	font-size: 70px;
}

.emoji {
	margin-top: -30px;
	width: 90px;
	height: 90px;
}

/* GO TO TOP */
.back-to-top {
	position: absolute;
	left: 30px;
	margin-top: 15px;
}

/* MOBILE SCREEN ===== MAX-WIDTH 768px */
@media only screen and (max-width:768px) {

	.nav-link {
		text-align: center;
		margin-left: 0;
	}

	.image {
		position: absolute;
		left: -10px;
		top: 80px;
		z-index: -1;
		width: 50px;
		height: 50px;
	}

	.divider {
		border: 1px solid #FFFFFF;
		width: 25%;
		margin-left: 0;
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.software {
		font-size: 16px;
		letter-spacing: 0.01em;
		font-weight: 500;
	}

	.project-title {
		font-size: 20px;
	}

	.figma {
		width: 20px;
	}

	.sketch {
		width: 30px;
	}

	.adobe-xd {
		width: 18px;
	}

	.socials {
		margin-bottom: 50px;
	}

	h6 {
		font-size: 1.2rem;
		font-weight: bold;
		width: 100%;
		margin-top: 0;
		line-height: 34px;
	}

	.about {
		margin-top: 50px;
	}

	.break-space {
		margin-top: 950px;
	}

	.projects {
		margin-top: 70px;
	}

	.ellipse {
		position: absolute;
		right: 0;
		top: 530px;
		z-index: -1;
	}

	.ellipse-img {
		width: 120px;
	}

	.work-header {
		font-size: 18px;
	}

	.work-text {
		font-size: 18px;
		line-height: 32px;
	}

	.work-div {
		margin-bottom: 0px;
	}

	.work-img {
		margin-top: 0px;
	}

	.w1 {
		background-image: url('../images/Mockup.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 247px;
		border-radius: 4px;
		filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	}

	.w2 {
		background-image: url('../images/ELqAdAaWkAAqqlj.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 247px;
		border-radius: 4px;
		filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	}

	.w3 {
		background-image: url('../images/church.png');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 247px;
		border-radius: 4px;
		filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	}

	.w4 {
		background-image: url('../images/EMDBL4tXYAA4PqY.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 247px;
		border-radius: 4px;
		filter: drop-shadow(0px 2px 20px rgba(51, 51, 51, 0.1));
	}

	.collab {
		font-size: 24px;
	}

	.emoji {
		margin-top: -8px;
		width: 30px;
		height: 30px;
	}

	footer {
		text-align: center;
	}


}